@import '../../../sass/variable.sass'

table 
  width: 100%

.tableInvoiceDetail td, .tableInvoiceDetail th 
  border: 1px solid $border-color
  text-align: left
  padding: 5px

.tableInvoiceDetail
    border: 1px solid $border-color
    &__invoice
        border-left: 1px solid $border-color
        width: 20%
        background-color: #EEEEEE 
    &__invoiceRight 
        background-color: #EEEEEE    