@import '../../../sass/variable.sass'

table 
  width: 100%

.tableInvoiceDetail td, .tableInvoiceDetail th 
  border: 1px solid $gainsboro
  text-align: left
  padding: 5px

.tableInvoiceDetail
    border: 1px solid $gainsboro
    &__invoice
        border-left: 1px solid $gainsboro
        width: 20%
        background-color: $color-whisper 
    &__invoiceRight 
        background-color: $color-whisper    