.container-row-shipping 
    display: flex
    justify-content: flex-start
    align-items: center
    margin-top: 12px

.container-row-shipping p
	color: #5D5D5D
	font-family: "Helvetica Neue"
	font-size: 18px

.container-row-shipping .price 
	color: #004853
	font-family: "Helvetica Neue"
	font-size: 18px
