.container-row-shipping 
    // margin-top: 12px

.container-row-shipping p
	color: #5D5D5D
	font-size: 14px
	margin-bottom: 0

.container-row-shipping .price 
	color: #004853

.container-row-shipping img
	margin: 6px 0 0 0
	height: 31.97px

.shipping
	padding: 8px 0 !important
	&__content-row
		display: flex
		width: 100%
	&__content-col
		display: flex !important
	&__content-col .space
		margin-right: 10px
