@import '../../sass/variable.sass'

.front-image
    width: 100%
    height: 100%

.register
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    &__logo
      padding-top: 64px !important
    &__title
      color: $primary-color
      margin-top: 64px
      font-size: 20px
      margin-bottom: 32px
    &__input
      height: 48px
    &__input:hover,
    &__input:focus
      border: 1px solid $primary-color !important
      border-radius: 4px
      box-shadow: 0 0 0 0 transparent !important
    &__form
      height: 48px
      &__note
        display: block
        width: 360px
        line-height: 18px
        text-align: justify
        font-size: 16px
        color: $text-grey
      &__button-register
        margin-top: 32px
        height: 48px !important
        width: 360px
        background: $primary-color !important
        border: $primary-color !important
      &__button-register:hover,
      &__button-register:focus
        background: $primary-color-hover !important
        border: 1px solid $primary-color-hover !important
      &__button-register-text
        color: $text-white
        padding-top: 11px
        font-size: 18px
        font-weight: 500
      &__text-line
        height: 1px
        width: 30%
        background: gray
      &__option-text
        margin-bottom: 32px
      &__socmed-button
        width: 180px
        height: 48px
      &__direct-login
        color: $text-grey
      &__link
        color: $link-color !important
      &__link:hover,
      &__link:focus
        color: $primary-color !important




        

    

      


