.mp-login-content
  max-width: 444px 
  margin: 0 auto
  
.mp-login-container
  &__logo
    padding-top: 64px !important
    display: block
    margin: 0 auto
  &__title
    color: $color-black
    margin-top: 32px
    font-size: 16px
    text-align: center
    margin-bottom: 32px  
  