.login
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    &__separator
        // margin-top: 24px
        color: $color-dark-gray
        font-size: 16px
        p
            margin-bottom: 6px

.link-register
    color: $color-safety-orange

.link-register:hover
    color: $color-orange-red
 

  