.paymentCancelOrder
    background-color: #ffffff
    padding: 15px
    &__label
        color: #000000
        font-size: 16px
        margin-bottom: -1px   
    &__labelEstimate
        color: #BBBBBB
        fontSize: 16px