.contentPrice
    text-align: center
    b
        color: #9B9B9B
        font-size: 14px
        line-height: 16px
    &__total
        color: #004853
        font-size: 24px
        font-weight: 500
        line-height: 29px   
    &__datePay
        color: #4A4A4A
        font-size: 16px
        line-height: 18px

.buttonModalVirtualAccount
	color: #FB6900
	font-size: 22px
	font-weight: 500
	letter-spacing: 0.6px


.virtualAccontCopy
    padding: 10px 
    margin-bottom: 20px

.paymenttype
	color: #9B9B9B
	font-family: "Helvetica Neue"
	font-size: 16px
	font-weight: 500 

.okCaraBayar
	height: 32px
	width: 65px	
	background-color: #FB6900 !important                      