//TODO: Refactor

$color-white: #FFFFFF
$color-matterhorn: #4c4c4c
$color-gray: #999999
$color-whisper:  #EEEEEE
$color-nobel: #9b9b9b
$color-nero: #222222
$color-snow: #FAFAFA
$color-curious-blue: #337ab7
$color-safety-orange: #FB6900
$color-orange-red: #F63700  // for hover button && link(orange)
$color-persimmon: #EC5600
$color-sherpa-blue: #004853
$color-teal: #007E80
$color-iris-blue: #00B9BD
$color-black: #000000
$color-charcoal: #4A4A4A
$color-grey: #777777
$color-silver: #BBBBBB
$color-carmine: #A8071A
$color-dark-tangerine: #FAAD14
$color-kelly-green: #52C41A
$color-dodger-blue: #1890FF
$color-gainsboro : #dddddd
