html 
  font-size: 10px
  font-family: Roboto

  body 
    padding: 1rem

  .container
  width: 100%
  margin-left: auto
  padding-left: 1.5rem
  margin-right: auto
  padding-right: 1.5rem

@media (min-width: 120rem)
  .container
      max-width: 114rem





