.tableInvoicePayment td, .tableInvoicePayment th 
  border: 1px solid #dddddd
  padding: 5px

.tableInvoicePayment
    margin-top: 55px
    border: 1px solid #dddddd
    &__invoicePayment
        border-left: 1px solid #dddddd
        width: 20%
        background-color: #007E80
        color: #ffffff
    &__invoicePaymentnNameOrder
        background-color: #007E80 
        color: #ffffff
    &__invoicePaymentVariant 
        background-color: #007E80 
        color: #ffffff      
    &__invoicePaymentPrice
        background-color: #007E80 
        color: #ffffff  
    &__invoicePaymentTotal
        background-color: #007E80 
        color: #ffffff
    &__invoiceRightPayment
        background-color: #EEEEEE 
