.cart-product 
    margin-top: 10rem


.close-button-cart
    text-align: right        

.cart-product 
    .price-text span 
    font-size: 1.5rem

.cart-product 
    .close-button-cart 
    margin-right: 10px !important
    margin-top: 10px !important
    color: #4A4A4A
    cursor: pointer

.cart-product 
    h4 
    color: #4A4A4A
    font-weight: 500
    line-height: 24px
    margin-bottom: 2em

.price-label-button 
    text-align: center

.cartVariant 
    margin-left: 15px

.cart-product-title 
    margin-bottom: -15px
    
