@import "sass/variable.sass"


.categories-title
    font-size: 18px
    color: $primary-color
    
.categories-list
    display: flex
    flex-direction: row
    font-size: 18px
    padding-left: 16px
.categories-list a
    color: $text-grey
    padding-right: 15px