.paymentInfo
    margin-top: -5px

.paymentInfo tr
	line-height: 40px

.wrapperRight
    text-align: right

.customerVia
	color: #004853
	font-size: 18px 

.totalPesanan
	font-size: 18px
	font-weight: bold
	letter-spacing: 1px
	color: black

.paymentBold
	font-size: 18px
	font-weight: 400
	color: black
	letter-spacing: 1px
	line-height: 19px  

.paymentCancelOrder__label
        color:#A8071A
        font-size: 16px
        font-weight: 500
        margin-bottom: -1px   

.paymentCancelOrder__labelEstimate
        color: #777777
        font-size: 16px	          