.card-step-container
    border-radius: 4px !important
    background-color: #FFFFFF !important
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11)
    
.stepOrderStatus
    padding-top: 24px

.stepOrderStatus .ant-steps-item-title
    font-size: 15px !important

.stepOrderStatus .ant-steps-item-description
    font-size: 12px !important

.stepOrderStatus .ant-steps-small .ant-steps-item-tail
    top: 26px
    padding: 0 10px
    width: 75%

.stepOrderStatus .ant-steps-small .ant-steps-item-tail
    margin-left: 110px    

.stepOrderStatus .ant-steps-item-finish > .ant-steps-item-tail:after
    background-color: #004853

.stepOrderStatus .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title
    color: #004853
    font-weight: 500

.stepOrderStatus .ant-steps-label-vertical .ant-steps-item-icon
    margin-left: 53px !important

.stepOrderStatus .ant-steps-label-vertical .ant-steps-item-content
    width: 150px 
    margin-top: 0px

.iconOrderStatusStepActive
    color: #004853 !important

.buttonOrderDetails .ant-btn
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11) !important
    height: 40px
    color: #9b9b9b
    font-size: 16px