.customerOrderNavigation .ant-tabs-nav-wrap
    text-align: center

.customerOrderNavigation .ant-tabs-nav .ant-tabs-tab:hover 
    color: #FB6900 !important

.customerOrderNavigation .ant-tabs-nav-container
    background-color: #ffffff
    border-radius: 4px
    padding: 10px

.customerOrderNavigation .ant-tabs-nav .ant-tabs-tab-active 
    color: #FB6900 !important

.customerOrderNavigation .ant-tabs-ink-bar
    background-color: #FB6900 !important

.customerOrderNavigation .ant-tabs-nav .ant-tabs-tab   
    font-size: 18px
    margin: 0 25px 0 25px !important

.dashboardUser .ant-tabs .ant-tabs-left-content
    border-left: unset !important 

.dashboardUser .ant-tabs-nav .ant-tabs-tab-active span 
    color: #FB6900 !important

.dashboardUser .ant-tabs-ink-bar
    background-color: unset 

.dashboardUser .ant-tabs .ant-tabs-left-bar   
    border-right: unset    

   