@import '../../sass/variable.sass'

.mp-customer-order-navigation .ant-tabs-nav-wrap
    text-align: center

.ant-tabs .ant-tabs-left-bar .ant-tabs-tab
    text-align: unset !important

.mp-customer-order-navigation .mp-loading-items
    display: flex
    justify-content: center
    margin-top: 100px   

i.anticon.anticon-rocket.iconRocket 
    transform: rotate(44deg)
    font-size: 19px   

.mp-customer-order-navigation .ant-tabs-nav .ant-tabs-tab:hover 
    color: $color-safety-orange !important

.mp-customer-order-navigation .ant-tabs-nav-container
    background-color: $color-white
    border-radius: 4px
    padding: 10px

.mp-customer-order-navigation .ant-tabs-nav .ant-tabs-tab-active 
    color: $color-safety-orange !important

.mp-customer-order-navigation .ant-tabs-ink-bar
    background-color: $color-safety-orange !important

.mp-customer-order-navigation .ant-tabs-nav .ant-tabs-tab   
    font-size: 18px
    margin: 0 25px 0 25px !important

.mp-dashboard-user .ant-menu-sub.ant-menu-inline 
    margin-left: 5px

.mp-dashboard-user .ant-tabs .ant-tabs-left-content
    border-left: unset !important 

.mp-dashboard-user 
    &__title
        color: $color-black !important
        font-size: 14px    

.mp-dashboard-user .ant-tabs-nav .ant-tabs-tab-active span 
    color: $color-safety-orange !important

.mp-dashboard-user .ant-tabs-ink-bar
    background-color: unset 

.mp-dashboard-user .ant-tabs .ant-tabs-left-bar   
    border-right: unset  

.mp-dashboard-userCollapse .ant-collapse-borderless > .ant-collapse-item 
    border-bottom: unset !important

.mp-dashboard-user .ant-menu-item-selected    
    color: $color-safety-orange !important

.mp-dashboard-user .ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover    
    color: $color-safety-orange !important 
    background-color: unset !important

.mp-dashboard-user .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before
    background: linear-gradient(to right, $color-safety-orange, $color-safety-orange) !important 

.mp-dashboard-user .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected
    background-color: unset !important  

.mp-dashboard-user .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after      
    border-right: unset !important

.ant-menu
    background: $color-snow !important
   
.ant-layout-sider  
    background-color: unset !important

.ant-layout
    background-color:  unset !important  

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left
    border-right: unset !important
