@import "sass/variable.sass"

.best
    &__card
        height: 285px!important
        width: 245px!important
        padding: 20px!important
        background: 'linear-gradient( #FFFFFF1A , #E0E0E0 )'!important
    &__image
        width: 200px
        height: auto
        padding-top: 50px
        padding-bottom: 60px
    &__title
        font-size: 14px
        color: #000000
    &__price
        font-size: 16px
        color: $primary-color
        font-weight: bold


.ant-card-body
    padding: 1px !important
