@import '../../sass/variable.sass'

.card-address
	width: 100%
	border: 1px solid #DDDDDD
	border-radius: 4px
	background-color: #FFFFFF
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.21)

.addressCheckout
    margin-top: 20px
    display: flex
    justify-content: flex-end

.addressAdd    
    &__button
        border: 1px solid #DDDDDD !important
        border-radius: 4px !important
        margin-left: 16px !important
        color: #007E80 !important
        font-size: 14px !important