@import '../../sass/variable.sass'

.addressCheckout
    margin-top: 20px
    display: flex
    justify-content: flex-end
    &__button
        border: 1px solid #DDDDDD !important
        border-radius: 4px !important
        margin-left: 24px !important
        color: $color-green !important
        font-size: 17px !important