.profile-main
    &__customer-name
        margin-top: 4px
        font-size: 20px
        color: #000000
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

.portrait img
    width: 100% !important
    height: auto !important

.landscape img
    width: auto !important
    height: 100% !important