@import  '../../sass/variable.sass'

.topHeader-sentence
    color: $text-grey
    font-size: 16px
    height: 40px

.topHeader-link
    color: $primary-color
.topHeader-link:hover,
.topHeader-link:focus,
    color: $primary-color-hover-red