.top-header
    background-color: $color-snow
    &__content
        padding: 8px 0
    &__download
        color: $color-teal
        font-weight: 400
    &__download .anticon
        color: $color-grey
        font-size: 10px
        margin-left: 2px
    &__helper
        display: flex
        justify-content: space-around
        align-items: center
        color: $color-border
