@import '../../sass/variable.sass'

.mp-step-order-cancel-wrapper
    margin-top: 30px

.mp-step-order-cancel
    padding-top: 24px

.mp-step-order-cancel .ant-steps-item-title
    font-size: 15px !important

.mp-step-order-cancel .ant-steps-item-description
    font-size: 12px !important

.mp-step-order-cancel .ant-steps-item-finish > .ant-steps-item-tail:after
    background-color: $color-green

.mp-step-order-cancel .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title
    color: $color-green
    font-weight: 500

.mp-step-order-cancel .ant-steps-label-vertical .ant-steps-item-content
    width: 150px 
    margin-top: 0px    

.mp-step-order-cancel-by-customer .ant-steps-label-vertical .ant-steps-item-icon
    margin-left: 53px !important

.mp-step-order-cancel-by-customer .ant-steps-small .ant-steps-item-tail
    margin-left: 140px
    margin-top: 30px
    width: 80%

.mp-step-order-cancel-by-system .ant-steps-small .ant-steps-item-tail
    margin-left: 125px     
    width: 75%   
    top: 40px
    