
.popular
    &__card
        height: 332px !important
        width: 245px !important
    &__image-cover
        width: 245px
        height: 245px
        padding: 16px
    &__image
        height: 100%
        width: 100% !important
    &__info
        padding-left: 16px
        padding-right: 16px
    &__title
        font-size: 30px
        color: #000000
        padding: 0px
        font-weight: bold
    &__price
        font-size: 20px
        color: #000000

.popular-wrapper .ant-card-body
    padding: 1px 


