
.popular
    &__card
        height: 300px !important
        width: 205px !important
    &__image-cover
        height: 200px
        padding: 26px
        position: relative
    &__image
        height: 100%
        width: 100% 
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
    &__info
        padding-left: 16px
        padding-right: 16px
    &__title
        font-size: 20px
        color: #000000
        padding: 0px
        font-weight: bold
    &__price
        font-size: 20px
        color: #000000
        line-height: 66px

.popular-wrapper .ant-card-body
    padding: 1px 

.popular-wrapper:hover    
    height: 300px
    transform: scale(1.1)
    box-shadow: 1px 8px 20px #485563
    -webkit-transition:  box-shadow .6s ease-in 


