.productOrder
    padding: 15px
    h2
        height: 22px
        width: 437px
        color: #4A4A4A
        font-size: 18px
        font-weight: 500
        line-height: 23px
    &__image 
        height: 36.56px
        width: 70px
    &__variant
        height: 18px
        width: 221px
        color: #9B9B9B
        font-size: 16px
        line-height: 18px
    &__quantity
        height: 18px
        width: 105px
        color: #4A4A4A
        font-size: 16px
        line-height: 18px
    &__totalPrice
        height: 18px
        color: #4A4A4A
        font-size: 16px
        line-height: 18px   
    &__inline
        box-sizing: border-box
        height: 1px
        border: 1px solid #DDDDDD                 