
.nameCustomer
  color: #004853
  font-size: 18px
  font-weight: 400

.nameCustomerText
	color: #777777
	font-size: 18px

.perkiraanDiterima
	color: "#BBBBBB"
  font-size: 16
  text-align: "right"
  font-weight: 500    

.parentDateTransaction 
  display: flex
  justify-content: flex-start

.orderStatusUser td:nth-of-type(1) 
  border-right: 1px solid #dddddd
  width: 35%

.orderStatusUser td
  vertical-align: unset !important  

.wrapperRight .dot
  margin-right: 10px
  margin-left: 10px
  margin-top: 5px
  height: 13px
  width: 13px
  background-color: #bbbbbb
  border-radius: 50% 

.dateTransaction 
  color: #bbbbbb
  font-size: 16px 

.wrapperRight .logEnable .dot
  background-color: #00B9BD 

.wrapperRight .logEnable 
  color: #000000 



  