.orderStatusUser
	border-radius: 4px
	background-color: #FFFFFF
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11)

.nameCustomer
    color: #004853
    font-size: 18px
    line-height: 22px

.nameCustomerText
	color: #777777
	font-size: 18px
	line-height: 22px    

.borderRight
    border-right: 1px solid #DDDDDD;

.perkiraanDiterima
	color: "#BBBBBB"
    font-size: 16
    text-align: "right"
    font-weight: 500