.waitingPayment
    b
        color: #4A4A4A
        font-size: 16px
        line-height: 18px
        margin-left: 15px
    &__endDatePay
        color: #004853
        font-size: 16px
        margin-left: 15px

    &__totalReceived
        font-size: 16px
        float: right
        margin-right: 60px 
    &__button
        border: unset !important
        box-shadow: unset !important
        color: #999999 !important
        font-size: 20px !important
        margin-top: 15px !important 
    &__payNow
        height: 48px !important
        width: 175px !important
        border-radius: 4px !important
        color: #ffffff !important
        font-weight: 500 !important
        margin-right: 25px !important
        background-color: #FB6900 !important 
    &__detailPesanan
        height: 48px !important
        width: 175px !important
        border-radius: 4px !important
        font-weight: 500 !important
    &__list
        background-color: #FFFFFF
        margin-top: 10px
        border-radius: 4px
        padding-bottom: 20px 
        padding-top: 10px      

.waitingPayment .ant-modal-confirm-warning .ant-modal-confirm-body > .anticon, .ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon 
    color: #c94b4b !important