@import "../../../sass/variable.sass"

.mp-btn-primary
    @include mp-btn
    background-color: $color-safety-orange !important
    color: $text-white !important
    border: unset !important

.mp-btn-width-full
    width: 100% !important

.mp-btn-size-large
    font-size: 20px !important
    
.mp-btn-width-90
    width: 90% !important

.mp-btn-primary:hover
  background-color: $color-orange-red !important
  border: unset !important 


.mp-margin-button-small
  margin: 10px 0px 0px 0px

.mp-button-disabled
  background-color: $gainsboro !important      
