
    

.info
    &__style
        height: 908px
        margin: 48px
        border-radius: 4px
        background-color: #FFFFFF
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11)
    &__title
        padding-top: 14px
    &__title p
        padding-left: 25px
        font-size: 20px
        color: #000000
        line-height: 24px
    &__title .ant-divider-horizontal
        margin: 15px 0
    &__content
        padding: 0 65px
    &__payment
        text-align: center
    &__payment p
        margin-bottom: 1px
        font-weight: 500
        line-height: 32px
    &__bank
        height: 108px
        width: 100%
        border-radius: 4px
        margin-top: 40px
        padding: 0 30px
        background-image: url("../../assets/img/ic_background/ic_bg_info_pembayaran.png")
    &__bni
        height: 27px
        margin: 8px 0
    &__bankButton
	    height: 48px !important
	    width: 134px
	    border-radius: 4px
	    background-color: #FB6900 !important
    &__bankButton p
        color: #ffffff
        margin-bottom: 5px
        font-size: 20px
        font-weight: 500
        letter-spacing: 0.67px
    &__dropdownMethod
        margin-top: 40px
    &__dropdownMethod .ant-collapse
        background-color: rgba(0,0,0,0.02)
    &__dropdownMethod .ant-collapse-content
        background-color: #ffffff
    &__dropdownMethod .ant-collapse .ant-collapse-item .ant-collapse-header
        padding: 11px 0 13px 16px
    &__dropdownMethod .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-arrow
        color: transparent
    &__button
        height: 48px !important
        width: 100%
        background-color: #FB6900 !important
        border-radius: 4px
        margin-top: 32px
    &__button p
        margin-bottom: 5px
        font-size: 20px
        color: #FFFFFF

.virtualNumber
    color: #004853
    font-size: 32px
    font-weight: 500
    letter-spacing: 1.07px
    line-height: 39px