.container-row-shipping-selected
    display: flex
    justify-content: center
    align-items: center

.shipping-selected-active
	height: 76px
	border: 1px solid #DDDDDD
	border-radius: 4px
	margin-right: 20px	

.container-row-shipping-selected p
	color: #4D4D4D
	font-size: 13px

.container-row-shipping-selected .price-selected
	color: #004853
	font-size: 14px

.shipping-selected
	border: 1px solid #007E80
	border-radius: 4px
	height: 76px
	margin-right: 20px
