@import "sass/variable.sass"

.card
    &__style
        background: #ffffff !important
        border: none !important
    &__image-cover
        width: 200px
        height: 200px
    &__image
        width: 100% !important
        height: 100%
    &__title
        font-size: 14px
        color: #000000
    &__price
        font-size: 16px
        color: $primary-color
        font-weight: bold

.sliderClickProducts .card-body .ant-card-body
    padding: 1px !important

.sliderClickProducts .ant-carousel .slick-slide
    height: 330px !important
    width: 200px !important
    border-radius: 4px !important
    margin: 3px 13px
    box-shadow: -1px 1px 10px 0 rgba(0,0,0,0.3)
    overflow: hidden

.sliderClickProducts .ant-carousel .slick-slide h3
    color: #AAAAAA

.sliderClickProducts .ant-carousel .slick-dots
    bottom: -24px !important

.dots li button
    background: #AAAAAA !important