@import "sass/variable.sass"

.card
    &__style
        height: 330px !important
        width: 200px !important
        background: #ffffff
        border-radius: 10px !important
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3)
    &__image-cover
        width: 200px
        height: 200px
        padding: 16px
    &__image
        width: 100% !important
        height: 100%
    &__title
        font-size: 14px
        color: #000000
    &__price
        font-size: 16px
        color: $primary-color
        font-weight: bold

.card-body .ant-card-body
    padding: 1px !important

.ant-carousel .slick-slide 
    height: 160px
    line-height: 140px
    overflow: hidden

.ant-carousel .slick-slide h3
    color: #AAAAAA