@import "../../sass/variable.sass"

.topHeader
    display: flex
    justify-content: center
    align-items: center
    height: 40px
    background: #FAFAFA
    width: 100%
    padding-top: 10px

.header
    width: 100%
    padding-left: 70px
    padding-right: 70px
    margin-bottom: 100px !important
    &__row
        border: 1px
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.12)
    &__logo
        padding-top: 49px
    &__search-box
        padding-top: 32px
    &__search 
        height: 48px
        width: 750px
    &__search input
        background-color: #FAFAFA
    &__icon
        margin-left: 100px
    &__categories
        display: flex
        flex-direction: row
        padding-top: 34px
    &__menus
        display: flex
        flex-direction: row
        padding-top: 34px
    &__menu
        color: #5D5D5D
        margin-right: 32px 
    &__greeting
        padding-top: 30px
    &__greeting h3
        font-size: 18px
        color: $text-grey
    &__greeting h4
        font-size: 18px
        font-weight: 500
        color: $text-orange
    &__user-box
        margin-top: 5px
        margin-bottom: 5px
        display: flex
    &__user-icon
        padding-top: 27px
        font-size: 20px
    &__user-box h4
        margin-left: 5px
        margin-top: 5px
        cursor: pointer
        font-size: 18px
        color: $primary-color
        padding-top: 21px
    &__arrow
        font-size: 20px
        margin-left: 5px
        color: $text-grey
        padding-top: 40px
    &__user-menu
        width: 250px
        height: 203px
        margin-top: 8px
        box-shadow: 0 19px 32px 0 rgba(0,0,0,0.1) !important
    &__user-menu-box
        display: flex
        flex-direction: column
        padding-left: 30px
        padding-top: 20px
    &__user-menu a
        color: $text-grey
        font-size: 16px
        padding-bottom: 15px
    &__user-menu a button
        width: 190px
        height: 48px
        margin-top: 26px
        cursor: pointer
        background-color: #ffffff
    &__user-menu a button:hover
        color: $secondary-color
        border-color: $secondary-color

    
    

        

             