@import "../../sass/variable.sass"

.topHeader
    display: flex
    justify-content: center
    align-items: center
    height: 40px
    background: #FAFAFA
    width: 100%
    padding-top: 10px

.header
    width: 100%
    padding-left: 70px
    padding-right: 70px
    height: 
    &__logo
        padding-top: 49px
    &__search-box
        padding-top: 32px
    &__search 
        height: 48px
        width: 750px
    &__search input
        background-color: #FAFAFA
    &__icon
        margin-left: 100px
    &__categories
        display: flex
        flex-direction: row
        padding-top: 30px
    &__greeting
        padding-top: 30px
    &__greeting h3
        font-size: 18px
        color: $text-grey
    &__user-box
        margin-top: 5px
        display: flex
    &__user-icon
        padding-top: 27px
        font-size: 20px
    &__user-box h4
        margin-left: 5px
        margin-top: 5px
        cursor: pointer
        font-size: 18px
        color: $primary-color
        padding-top: 21px
    &__arrow
        font-size: 20px
        margin-left: 5px
        color: $text-grey
        padding-top: 40px
    &__user-menu
        width: 250px
        margin-top: 8px
        &__button
            width: 220px
            height: 40px
            margin-top: 60px
            margin-left: 4px
    &__user-menu a
        color: $text-grey
    
    

        

             