@import '../../sass/variable.sass'

.mp-button-qna
	height: 22px !important
	border-radius: 4px !important
	background-color: #EEEEEE !important

.product-forum
    padding: 32px

.title-inline
    &__title
        color: $color-black
        padding-top: 6px
    &__button-live-chat
        color: $color-teal !important
        font-size: 16px !important
        font-weight: 500 !important

.table-qna .ant-table-thead > tr > th, .ant-table-tbody > tr > td
    border-bottom: unset !important  
    padding: unset !important

ul.ant-pagination.pagination-product-forum.ant-table-pagination
    text-align: center
    float: unset !important      

.pagination-product-forum .ant-pagination-item-active  
    font-weight: 500
    background: $color-teal
    border-color: $color-teal
    
.pagination-product-forum .ant-pagination-item-active a    
    color: $text-white

.pagination-product-forum .ant-pagination-prev .ant-pagination-item-link,
.pagination-product-forum .ant-pagination-next .ant-pagination-item-link
    background-color: unset
    border: unset

.product-forum .ant-table-tbody > tr.ant-table-row-level-0:hover > td 
  background: unset !important
