.variant_image {
    width: 40px;
    height: 40px;
}

.disabled {
    color: gray;
    cursor: unset;
    background: red;
}

.variant-image-wrapper {
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 20px;
    margin-left: 10px
}

.box-variant {
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    margin-left: 10px;
    display: inline-flex;

}

.box-variant-text {
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    margin-left: 10px;
    display: inline-flex;  
}

.variant {
    display: inline-block;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-variant.active {
    border: 2px solid #004853;
    border-radius: 2px;
}

.box-variant-text.active {
    border: 2px solid #004853;
    border-radius: 2px;
}