.variant__titleContent p 
    font-size: 14px
    text-align: center
    margin-top: 6px

.variant_image 
    margin: 6px auto
    width: 40px
    height: 40px
    display: block

.disabled
    color: gray;
    pointer: none;
    background: red;