.card
    &__Style 
        width: 436px
        margin-top: 25px !important
        margin-left: 15px !important
        box-shadow: 0 1px 3px rgba(0,0,0,0.21)
    &__ColumnLeft 
        text-align: end
    &__ColumnLeftVia
        text-align: end
        color: #9B9B9B
    &__Content
        padding-top: 24px
        
.ordersummary .card__Button 
    text-align: center
    padding: 6px
    margin-top: 24px
    background-color: #FB6900
    color: #ffffff
    width: 388px
    height: 48px
    font-size: 18px
    display: block

.price-pcs
    color: #777777
    line-height: 10px

.sub-total
    color: #000000
    margin: 22px 0

.international-shipping
    line-height: 10px

.international-shipping-price
    margin-top: 40px

.p-color
    color: #004853

.ordersummary .ant-btn:hover
    background-color: #FB6900
    color: #ffffff

.ordersummary 
    display: flex
    justify-content: center    

.rowUnderDivider 
    color: #004853
    font-size: 16px
    margin-top: 16px

.rowUnderDivider b
    color: #000000
