.card
    &__Style 
        width: 436px
        margin-top: 25px !important
        margin-left: 15px !important
        box-shadow: 0 1px 3px rgba(0,0,0,0.21)
    &__ColumnLeft 
        text-align: end
    &__ColumnLeftVia
        text-align: end
        color: #9B9B9B
    &__Button:hover   
        opacity: 0.77
        border-color: unset !important
        
.ordersummary .card__Button 
    text-align: center
    padding: 6px
    margin-top: 24px
    background-color: #FB6900
    color: #ffffff
    width: 388px
    height: 48px
    font-size: 18px
    display: block

.ordersummary .card__Button:focus
    color: #ffffff
    background-color: #FB6900
    border-color: unset !important

.price-pcs
    color: #777777
    line-height: 10px

.sub-total
    color: #000000
    margin-top: 24px

.international-shipping
    margin-top: 24px
    line-height: 10px

.shipping-price
    margin-top: 40px

.lokal-shipping
    margin-top: 24px
    line-height: 10px

.jne-assurance
    margin-top: 28px

.jne-checkbox
    color: #BBBBBB !important

.jne-checkbox-true
    color: #4A4A4A !important

.jne-price
    margin-top: 22px
    color: #BBBBBB

.jne-price-true
    margin-top: 22px
    color: #4A4A4A

.p-color-teal
    color: #004853

.ordersummary .ant-btn:hover
    background-color: #FB6900
    color: #ffffff

.ordersummary 
    display: flex
    justify-content: center

.divider-checkout
    margin: 12px 0 !important

.rowUnderDivider 
    color: #004853
    font-size: 16px
    margin-top: 16px

.rowUnderDivider b
    color: #000000
