@import "../../sass/variable.sass"

.backgroundFooter
    width: 100%
    height: 413px
    background-color: #EAEAEA
    margin-top: 40px

.footer
    &__help
        padding-top: 40px
        padding-left: 64px
        font-size: 16px
        color: $primary-color
    &__menu-1stcol
        padding-top: 16px
        padding-left: 64px
        font-size: 14px
        color: $text-grey
    &__menu-2ndcol
        padding-top: 16px
        font-size: 14px
        color: $text-grey
    &__invitation
        padding-top: 16px
    &__payment-box
        padding-top: 25px
        padding-left: 64px
    &__payment-box p
        font-size: 16px
        color: $primary-color
    &__monggo
        padding-top: 40px
        font-size: 16px
        color: $primary-color
    &__icon-box img
        padding-right: 17px
    &__follow-us
        padding-top: 80px
        font-size: 16px
        color: $primary-color
    &__button
        height: 55px
        border-bottom-right-radius: 8px
        border-top-right-radius: 8px
        background-color: $primary-color
        color: white
        border: none
        position: absolute
        left: 310px



