@import '../../sass/variable.sass'

.button-batal-address
    border: unset
    font-weight: 555
    color: $primary-font-color
    fontSize: 14px

.button-batal-address:hover
    border-color: $primary-color !important 
    color: $primary-color !important   

.button-simpan 
    background-color: $text-orange !important
    color: #ffffff !important
    font-size: 12px
    &__text
        height: 15px
        width: 74px
        color: #FFFFFF
        font-size: 12px
        font-weight: 500
        line-height: 15px
        text-align: center
    &__choose-address
        height: 22px
        width: 108px
        color: #FFFFFF
        font-size: 14px
        font-weight: 500
        line-height: 22px

.addAddressForm
    .ant-select-selection:hover
        border-color: $primary-color-hover !important
    .ant-select-selection:focus
      border-color: $primary-color !important
      box-shadow: none !important
    .ant-input-group-addon .ant-select .ant-select-selection:hover
      border-color: transparent !important
    .ant-input-group-addon .ant-select .ant-select-selection:focus
      border-color: transparent !important

.addAddressInput:hover
    border-color: $primary-color-hover !important
.addAddressInput:focus
    border-color: $primary-color !important
    box-shadow: none !important
