.image-gallery-swipe, 
.image-gallery-slides, 
.image-gallery-slide, 
.magnifier
    width: 100% !important
    height: 100% !important

.magnifier-image
    max-width: 100%
    max-height: 100%
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    padding: auto
    width: auto !important
    height: auto !important

.magnifying-glass
    width: 100% !important
    height: 100% !important
    left: 0 !important
    top: 0 !important
    background: #ffffff no-repeat
