@import "../../sass/variable.sass"

.login-box
  height: 520px
  width: 371px
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.1) !important

.login-content
 margin-top: 40px
 

.login-form 
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  &__checkBox
    margin-top: 5px !important
    width: 275px
  &__forgot
    float: right
    display: flex
    flex-direction: row
    color: $primary-color
    font-weight: bold
  &__button 
    width: 50%
    &__submit
      margin-top: 20px !important
      width: 100%
       height: 48px !important
      margin: 0.5rem 0
      border-color: $secondary-color!important
      background-color: $secondary-color!important
    &__submit h4
      color: $text-white
      padding-top: 5px
  &__separator
    display: flex
    padding-top: 30px
    justify-content: center
    &__text
      font-size: 1.2rem
      text-align: center
      color: #bfbfbf
      width: 50%
      justify-content: center
  &__input-text input
    height: 48px !important
    width: 275px !important
  &__socmed-box
    display: flex
    flex-direction: row
    position: absolute
    top: -20px
  &__socmed-button
    width: 136px
  &__socmed-button p
     font-size: 15px
     padding-top: 13px
  &__question
    margin-top: 20px
  &__register
    color: $primary-color
    font-weight: bold
  