@import '../../sass/variable.sass' 

.category:hover 
    color: $color-green !important
    font-weight: 555

.ant-dropdown-menu-submenu-title:hover 
    background-color: unset !important

.ant-cascader-menu
    height: auto !important

.ant-cascader-menu-item-expand-icon
    top: 10px

.default
    height: 16px
    width: 96px
    color: #4A4A4A
    font-size: 14px
    line-height: 30px

.default:hover
    color: #007E80
    
.spanRender
    margin: 10px 0 10px 10px
    &__subMenu
        width: 200px

.cascader-popup
    position: fixed !important
    margin-top: 0

.cascader-popup-scroll
    position: fixed !important
    margin-top: -50px