@import "../../sass/variable.sass"

.header__categoriess .ant-cascader-menu-item-expand 
    width: 250px

.header__categoriess .ant-cascader-menu:last-child 
    width: 250px

.header__categoriess .ant-cascader-menu
    overflow: hidden !important
    
.topHeader
    display: flex
    justify-content: center
    align-items: center
    background: #fafafa
    width: 100%
    transform: translate3d(0, 0, 0)
    transition: mdc-animation-exit-temporary(transform, 250ms)
    will-change: transform

.header
    width: 100%
    height: auto
    border: 1px
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.12)
    padding-left: 70px
    padding-right: 70px
    padding-bottom: 20px
    background-color: #ffffff
    z-index: 1000
    &__logo
        padding-top: 40px
        width: 100%
    &__search-box
        padding-top: 30px
        text-align: center
    &__search 
        height: 48px
    &__search input
        background-color: #FAFAFA
    &__categories
        // font-size: 18px
        display: flex
        flex-direction: row
        padding-top: 12px
    &__menus
        display: flex
        flex-direction: row
        padding-top: 12px 
    &__menu
        color: #777777
        font-size: 14px
        // line-height: 16px
        margin-right: 20px 
        height: 16px
        display: inline-block
    &__menu::after
        content: ""
        display: block
        width: 0
        height: 2px
        background: #777777
        transition: width .3s
    &__menu:hover
        color: $primary-color-hover
    // &__menu:hover::after
    //     width: 100%
    //     transition: width .3s
    &__greeting
        padding-top: 12px
        height: 16px
        // width: 134px
        color: #000000
        font-size: 14px
        line-height: 16px
    &__greeting h3
        font-size: 18px
        color: $text-grey
    &__greeting h4
        font-size: 18px
        font-weight: 500
        color: $text-orange
    &__user-box
        // margin-top: -15px
        // margin-bottom: 5px
        margin-left: 64px
        display: flex
        padding-top: 10px
    &__user-icon
        // padding-top: 27px
        // margin-left:5px
        font-size: 18px
    &__user-box span
        color: #007E80
        font-size: 14px
        line-height: 16px
        padding-top: 12px
        cursor: pointer
        margin-left: 5px
        margin-right: 3px
    &__user-box .ant-dropdown-link
        width: 90px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
    &__arrow
        font-size: 20px
        margin-left: 5px
        color: $text-grey
        padding-top: 40px
    &__user-menu
        width: 204px
        padding: 16px
        height: 100%
        margin-top: 8px
        box-shadow: 0 19px 32px 0 rgba(0,0,0,0.1) !important
    &__user-menu-box
        display: flex
        flex-direction: column
        padding-left: 30px
        padding-top: 20px
    &__user-menu li
        color: $text-grey
        font-size: 16px
        padding-bottom: 10px
    &__user-profile
        height: 28px
        width: 59px
        color: #000000
        font-size: 20px
        font-weight: 500
        line-height: 28px
    &__user-divider
        box-sizing: border-box
        height: 1px
        width: 100%
        border: 1px solid #EEEEEE
        margin: 0px !important
    &__user-logout
        padding: 16px 16px 6px 16px
    &__user-li
        color: #4A4A4A
        font-size: 14px
        font-weight: 500
        line-height: 22px
        cursor: pointer
    &__user-li:hover
        color: #4A4A4A
    &__user-menu li button
        width: 190px
        height: 48px
        margin-top: 26px
        cursor: pointer
        background-color: #ffffff
    // &__user-menu li button:hover
    //     color: $secondary-color
    //     border-color: $secondary-color

.box-flex
    display: flex
    justify-content: flex-end    

.categoryHome .ant-dropdown-menu-submenu-popup 
    left: 325px !important

.linkCategory 
    color: "black" 

.header__icon
    display: block
    width: 100%
    float: right    


.ant-cascader-menu 
    height: auto

.category
    height: 18px
    width: 59px
    color: #007E80
    font-size: 15px
    font-weight: 500
    line-height: 18px
    vertical-align: text-top
    margin-right: 2px


        

    
    

        

             